PANDASCORE_API_KEY=your_pandascore_api_key_here
POSTGRES_USER=vct_user
POSTGRES_PASSWORD=your_own_password_here
POSTGRES_DB=vct_warehouse

AIRFLOW_DB_USER=airflow_user
AIRFLOW_DB_PASSWORD=your_own_password_here
AIRFLOW_DB_NAME=airflow_metadata

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=your_own_password_here
AIRFLOW_ADMIN_EMAIL=your_email_here@example.com

AIRFLOW_CONN_PANDASCORE_API=http://:your_pandascore_api_key_here@api.pandascore.co

